<!DOCTYPE html>
{% extends "base2.html" %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="/css/bootstrap.css">

    </head>
    <body>
      
        {% block content %}
        <h1 class='text-center'>Doctors</h1>
        <hr>
        {%  for d in doc %}
        <div class='mx-auto w-50 text-center text-white pt-2 pb-2 rounded mt-4' style="background-color:#A3C1AD">
            <h5>{{d.dep_name}}</h5>
            <img src=" {{d.doc_image.url}} " class='rounded-circle'>
            <h1>{{d.doc_name}}</h1>
         
            <p>{{d.doc_spec}}</p>
         
         
        </div>
        {% endfor %}
        {% endblock content %}


        <script src="" async defer></script>
    </body>
</html>